/* 主页半透明度 */
.layout_page {
  opacity: 0.9;
}

/* 取消页脚背景 */
#footer {
  background: none;
}

/* 取消banner背景 */
#page-header {
  /* 采用透明的方式取消，最后一个0表示透明 */
  background-color: rgba(255, 255, 255, 0);
  background: url(img/background.jpg) no-repeat;
  background-size: cover;
}

/* 滚动条优化 */
::--webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::--webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::--webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: --webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.4) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 75%,
    transparent
  );
  border-radius: 2em;
}

::--webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #ec29f3;
}

/* 阅读模式 */
.read-mode {
  /* 字体大小 */
  font-size: 17px;
  /* 可以在这里引入自定义字体，具体方法请自行百度css引入字体 */
}
.read-mode #web_bg {
  /* 背景颜色 */
  background: #fdf6e3;
}

/* 隐藏按钮不消失 */
.hide-block>a.hide-button.open, .hide-inline>a.hide-button.open {
  display: inline-block;
}
/* 用于修复隐藏按钮的hover问题 */
#article-container a:hover {
  text-decoration: none;
  cursor: pointer;
}

/*友链相关*/
/* 边框呼吸灯效果 */
@keyframes link_custom {
  from {
    box-shadow: 0 0 5px var(--primary-color, grey),
      inset 0 0 5px var(--primary-color, grey),
      0 1px 0 var(--primary-color, grey);
  }
  to {
    box-shadow: 0 0 20px var(--primary-color, grey),
      inset 0 0 10px var(--primary-color, grey),
      0 1px 0 var(--primary-color, grey);
  }
}
@keyframes link_custom1 {
  0% {
    box-shadow: 0 0 4px #ca00ff;
  }
  25% {
    box-shadow: 0 0 16px #00b5e5;
  }
  50% {
    box-shadow: 0 0 4px #00f;
  }
  75% {
    box-shadow: 0 0 16px #b1da21;
  }
  100% {
    box-shadow: 0 0 4px red;
  }
}
@keyframes borderFlash {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--primary-color, grey);
  }
}
@keyframes auto_rotate_left {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes auto_rotate_right {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.flink#article-container .flink-list > .flink-list-item a:hover {
  color: #fff;
}
.flink .flink-list > .flink-list-item a {
  color: var(--primary-color, #49b1f5);
  text-decoration: none;
}
.flink .flink-list > .flink-list-item:hover {
  box-shadow: 0 2px 20px var(--primary-color, #49b1f5);
  animation-play-state: paused;
}
.flink#article-container .flink-list > .flink-list-item:before {
  background: var(--primary-color, #49b1f5);
}
.flink .flink-list > .flink-list-item {
  border: 0 solid var(--primary-color, #49b1f5);
}
.flink#article-container .flink-list > .flink-list-item:hover img {
  --webkit-transform: rotate(var(--primary-rotate));
  -moz-transform: rotate(var(--primary-rotate));
  -o-transform: rotate(var(--primary-rotate));
  -ms-transform: rotate(var(--primary-rotate));
  transform: rotate(var(--primary-rotate));
}
.flink#article-container .flink-list > .flink-list-item a .lauto {
  animation: auto_rotate_left var(--autotime) linear infinite;
}
.flink#article-container .flink-list > .flink-list-item a .rauto {
  animation: auto_rotate_right var(--autotime) linear infinite;
}
.flink#article-container .flink-list > .flink-list-item .customcolor {
  color: var(--namecolor, #1f2d3d);
}
.flink#article-container .flink-list > .flink-list-item .customcolor:hover {
  color: #fff;
}

/* 跳动的心 */
#heartbeat {
  color: red;
  animation: iconAnimate 1.33s ease-in-out infinite;
}
@-moz-keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(0.9);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }
  50%,
  70% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(0.9);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }
  50%,
  70% {
    transform: scale(1.1);
  }
}
@-o-keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(0.9);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }
  50%,
  70% {
    transform: scale(1.1);
  }
}
@keyframes iconAnimate {
  0%,
  100% {
    transform: scale(1);
  }
  10%,
  30% {
    transform: scale(0.9);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.1);
  }
  50%,
  70% {
    transform: scale(1.1);
  }
}

/*用于上标标签兼容黑暗模式，勿要删除*/

[data-theme="dark"] .tip {
  filter: brightness(0.7);
}
[data-theme="dark"] .tip {
  color: #4c4948;
}

/* banner透明遮罩层
#page-header:not(.not-top-img):before {
  background-color: rgba(0, 0, 0, 0);
} */

#footer-wrap {
  top: -30px !important
}